body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
.blog-container{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}
.blog{
    transition: transform 0.3s;
    border-radius: 12px;
    box-shadow: 0 5px 9px rbba(0,0,0,0.1);
    margin-bottom: 32px;
    padding: 32px;
    background-color: white;
}
.blog:hover{
    transform: translateY(-5px);
}
.blog h2{
    color:#1b054d;
    font-size: 30px;
    margin-bottom: 15px;
}
.blog p{
    color: #555;
    font-size: 16px;
    margin-bottom: 22px;
}
.blog a{
    text-decoration: none;
}
.button{
    display: inline-block;
    background-color: rgb(6, 6, 107);
    color: white;
    padding: 11px 21px;
    border-radius: 6px;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.4s;
}
.button:hover{
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .blog-container {
        margin: 20px;
        padding: 10px;
    }

    .blog {
        padding: 20px;
        margin-bottom: 20px;
    }

    .blog h2 {
        font-size: 22px;
    }

    .blog p {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}